.etabs-views {
    width: 100%!important;
    height: 90%!important;
    position: fixed!important;
    bottom: 0!important;
}
.nav {
width: 100%;
height: 5%;
}
.url {
    width: 40%;
    border: 1px solid #f8f9fa;
}
body {
    margin:0
}
