/*
 The Official Pocket Browser Code,
 Created and Written by the Pocket, Inc.
 © 2021 Pocket Inc.
 github.com/PocketInc/Pocket-Browser
 */

.etabs-views {
    width: 100%!important;
    height: 90%!important;
    position: fixed!important;
    bottom: 0!important;
}
.nav {
width: 100%;
height: 40px;
position: absolute;
    top: 32;
}
.url {
    width: calc(100% - 450px);
    border: 1px solid #f8f9fa;
    border-radius: 15px;
    outline-color: black;
}
body {
    margin: 0;
    background-color: #f8f9fa!important;
    overflow: hidden;
}
#wifi {
    background-color: red;
    border-radius: 50%;
    border: 0;
}
.custom-dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

}
*, *::before, *::after {
    -webkit-user-drag: none;
}
.icon {
    border-radius: 50%!important;
}
#toasts {
    position: absolute;
    top: 0;
    right: 0;
}
.noradius {
    border-radius: 0!important;
}
.custom-btn-light {
    background-color: transparent!important;
    border: 0;
}
.custom-btn-light:hover {
    background-color: #f8f9fa!important;
}
#link {
    position: absolute;
    bottom: 0;
}
#link:hover{
    right: 0;
}
/* DARK MODE */
.btn-pbdark {
background-color: #303030!important;
    color: lightgrey!important;
}
.btn-pbdark:hover {
    background-color: #121212!important;
    color: white!important;
}
.bg-pbdark {
    background-color: #303030!important;
}
.tab-pbdark {
    background: #303030!important;
    color: white!important;
}
.tab-pbdark:hover {
    background-color: #424242!important;
}
.tab-pbdark.active {
    background: #424242!important;
    color: white!important;
}
.bar-pbdark {
    background-color: #424242!important;
    color: grey!important;
    transition-duration: 3s;
    border-color: black!important;
}
.bar-pbdark:focus {
    background-color: #303030!important;
}

.menu-pbdark {
    background-color: #303030!important;
}
.tab-button-pbdark {
    background-color: #131313!important;
    color: white!important;
}
.tab-button-pbdark:hover {
    border-radius: 50%!important;
}
*:focus {outline: none}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}