/*
 * © 2021 - Pocket Inc.
 */

body {
    background-color: lightskyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    border-radius: 50%;
    border: 1px solid black;
    animation: rainbow 2s infinite;
    width: 80%;
    height: 18%;
    -webkit-user-drag: none;
}
@keyframes rainbow {
    0%{
        background-color: red;
    }
    25%{
        background-color: lightgreen;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}
#nav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkslategrey;
    overflow-x: hidden;
}
#body {
    margin-left: 15%;
}
nav button {
    width: 100%;
    height: 10%;
    background-color: lightskyblue;
    transition-duration: 0.4s;
    color: darkslategrey;
    border: 1px solid black;
    border-radius: 10px
}


nav button:hover {
    background-color: darkslategrey; /* Green */
    color: #87cefa;
    border-color: lightskyblue;
}

.x {
    background-color: red;
    transition-duration: 0.4s;
    float: right;
    color: darkslategrey;
    text-align: center;
    width: 4%;
    height: 5%;
    border: 1px solid black;
    border-radius: 5px;
}
.x:hover {
    background-color: darkred; /* Green */
    color: lightskyblue;
    border-color: lightskyblue;
}
button {
    background-color: lightskyblue;
    transition-duration: 0.7s;
    color: darkslategrey;
    border: 2px solid black;
    height: 8%;
}
button:hover {
    background-color: darkslategrey; /* Green */
    color: lightskyblue;
    border-color: darkslategrey;
}

.btn {
    background-color: lightskyblue;
    transition-duration: 0.7s;
    color: darkslategrey;
    border: 2px solid black;
    height: 5%;
    text-decoration: none;
}
.btn:hover {
    background-color: darkslategrey; /* Green */
    color: lightskyblue;
    border-color: darkslategrey;
}
.container {
    padding-left: 20%;
}
.input {
    width: 50%;
    border-radius: 5px;
    outline-color: darkslategrey;
    border: 2px solid darkslategrey;
    background-color: lightskyblue;
    transition: background-color 1s ease-out, color 1s ease-out;
}
.input:hover {
    background-color: skyblue;
}
.input:focus {
    color: lightskyblue;
    background-color: darkslategrey;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
*:focus {outline: none}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}